<!DOCTYPE html>
<html ng-app="myapp"> 
	<head>
<!--		<meta HTTP-EQUIV="Refresh" CONTENT="600,index.html" /> -->
        <title>Controles TD</title>
        <link rel="stylesheet" href="estilos/hojaestilos.css" type="text/css" />
	</head>
	<body background="images/soft_white_background.jpg">

		<form id="form1">
        <table align="center" border="0" width="50%" bgcolor="#E5F1F9">
            <tr><td align="left"><img src="images/logo_black_header.png"/></td>
                <td align="center"><span class="titulo1">Control Ventas TD</span></td></tr>
        </table>
		
		<p></p>
		
		<table align="center" border="1" width="80%">
			<tr><td align="center" width="10%"><span class="titulo2">FECHA</td>
				<td align="center" width="10%"><span class="titulo2">INTERFAZ</td>
				<td align="center" width="10%"><span class="titulo2">PROCESO</td>
				<td align="center" width="10%"><span class="titulo2">HORA INICIO</td>
				<td align="center" width="10%"><span class="titulo2">HORA FIN</td>
				<td align="center" width="10%"><span class="titulo2">REGISTROS</td>
				<td align="center" width="10%"><span class="titulo2">ESTADO</td>
				<td align="center" width="10%"><span class="titulo2">...</td>
			</tr>
			
			<tr><td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
				<td align="center" width="10%"><span class="normal1"></td>
			</tr>
		</table>

		<div ng-controller="cntrl">
			<h1 ng-repeat="data in mensaje">{{data}}</h1>
		</div> 
		
    
		<div ng-controller="appController">

			<span ng-repeat="data2 in datosResource">
				{{data2.date}} 
				{{data2.interface}} <br>
			</span>
		</div>
		
	 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
	 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
		<script src="scripts/script.js"></script>	
		
	</body>
</html>


